CREATE OR ALTER PROCEDURE spFac_EliminarDetalle
 @idDetalleFactura INT
AS
BEGIN
  -- guardamos lo que se va a borrar para devolver stock
  DECLARE @p INT, @c INT;
  SELECT @p = idProducto, @c = cantidadProduct
  FROM detalleFactura
  WHERE idDetalleFactura = @idDetalleFactura;

  -- borramos el detalle
  DELETE FROM detalleFactura
  WHERE idDetalleFactura = @idDetalleFactura;

  -- devolvemos el stock
  UPDATE Producto
     SET cantidadStock = cantidadStock + @c
   WHERE idProducto = @p;
END