CREATE OR ALTER PROCEDURE spFac_EditarDetalle
 @idDetalleFactura INT,
 @subtotal        DECIMAL(10,2),
 @cantidadProduct INT,
 @idCompra        INT,
 @idProducto      INT,
 @idCliente       INT,
 @estado          BIT,
 @fecha           DATE
AS
BEGIN
  -- 1) agarramos lo que tenía antes (para devolver stock viejo)
  DECLARE @oldCant INT, @oldProd INT;
  SELECT @oldCant = cantidadProduct,
         @oldProd = idProducto
  FROM detalleFactura
  WHERE idDetalleFactura = @idDetalleFactura;

  -- 2) devolver al stock del producto anterior
  UPDATE Producto
     SET cantidadStock = cantidadStock + @oldCant
   WHERE idProducto = @oldProd;

  -- 3) descontar del producto nuevo la cantidad nueva
  UPDATE Producto
     SET cantidadStock = cantidadStock - @cantidadProduct
   WHERE idProducto = @idProducto;

  -- 4) actualizar el registro con lo que vino del form
  UPDATE detalleFactura
     SET subtotal        = @subtotal,
         cantidadProduct = @cantidadProduct,
         idCompra        = @idCompra,
         idProducto      = @idProducto,
         idCliente       = @idCliente,
         estado          = @estado,
         fecha           = @fecha
   WHERE idDetalleFactura = @idDetalleFactura;
END