CREATE OR ALTER PROCEDURE spFac_AgregarDetalle
 @subtotal        DECIMAL(10,2),
 @cantidadProduct INT,
 @idCompra        INT,
 @idProducto      INT,
 @idCliente       INT,
 @estado          BIT,
 @fecha           DATE
AS
BEGIN
  -- insertamos el detalle con los datos que vienen del form
  INSERT INTO detalleFactura (subtotal, cantidadProduct, idCompra, idProducto, idCliente, estado, fecha)
  VALUES (@subtotal, @cantidadProduct, @idCompra, @idProducto, @idCliente, @estado, @fecha);

  -- bajamos el stock del producto que se vendió
  UPDATE Producto
     SET cantidadStock = cantidadStock - @cantidadProduct
   WHERE idProducto = @idProducto;
END