CREATE OR ALTER PROCEDURE spProd_Editar
 @idProducto    INT,
 @nombreProduc  VARCHAR(40),
 @fechaIngreso  DATE,
 @estado        BIT,
 @cantidadStock INT,
 @codigoBarras  BIGINT,
 @precioProduc  DECIMAL(5,2),
 @idCategoria   INT,
 @idProveedor   INT
AS
BEGIN
  UPDATE Producto
    SET nombreProduc  = @nombreProduc,
        fechaIngreso  = @fechaIngreso,
        estado        = @estado,
        cantidadStock = @cantidadStock,
        codigoBarras  = @codigoBarras,
        precioProduc  = @precioProduc,
        idCategoria   = @idCategoria,
        idProveedor   = @idProveedor
  WHERE idProducto = @idProducto;
END