CREATE OR ALTER PROCEDURE spProd_Agregar
 @nombreProduc  VARCHAR(40),
 @fechaIngreso  DATE,
 @estado        BIT,
 @cantidadStock INT,
 @codigoBarras  BIGINT,
 @precioProduc  DECIMAL(5,2),
 @idCategoria   INT,
 @idProveedor   INT
AS
BEGIN
  INSERT INTO Producto(nombreProduc,fechaIngreso,estado,cantidadStock,codigoBarras,precioProduc,idCategoria,idProveedor)
  VALUES(@nombreProduc,@fechaIngreso,@estado,@cantidadStock,@codigoBarras,@precioProduc,@idCategoria,@idProveedor);

  -- si quieres leer el id creado desde C#, puedes hacer ExecuteScalar con este SELECT:
  SELECT CAST(SCOPE_IDENTITY() AS INT) AS idCreado;
END